{
  "env": {
    "production": {
      "plugins": [
        "date-fns",
        "lodash"
      ]
    }
  },
  "plugins": [
    "transform-class-properties"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 chrome versions"
          ]
        }
      }
    ],
    "react"
  ]
}
